/* =========== table ========= */
.content__kyluat-title {
  color: var(--colorDefault);
  font-size: 1.4rem;
  margin-top: 30px;
  text-align: center;
}
.content__name {
  color: var(--colorDefault);
  font-weight: 500;
}

select {
  cursor: pointer;
}

.bgc__th {
  color: var(--colorDefault) !important;
}

.hocky:focus,
.namhoc:focus,
.dot:focus,
.matui:focus,
.monhoc:focus {
  border: 1px solid var(--colorDefault);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ot__hover:hover {
  background-color: var(--colorDefault) !important;
  color: white;
}

.button_kyluat {
  color: #fff;
  background-color: var(--colorDefault);
  padding: 6px 20px;
  border: 1px solid var(--colorDefault);
  border-radius: 6px;
}

.search_select_box {
  max-width: 400px;
  width: 100%;
}

/* ====== table ====== */
.tr__title td {
  font-size: 0.875rem;
}

/* =========== loading ========== */
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: all 0.2s;
}

/* ================ responsive ============ */
// mobile in Portrait mode
@media only screen and (max-width: 320px) {
  .timkiem {
    width: 8%;
  }

  .kyluat__padding {
    padding-left: 0 !important;
  }
  .form__kyluat {
    padding: 0 12px;
  }
}

// mobile in Landscape mode
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .timkiem {
    width: 30% !important;
  }

  .kyluat__padding {
    padding-left: 0 !important;
  }

  .form__kyluat {
    padding: 0 12px !important;
  }
}
/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .timkiem {
    width: 30%;
  }

  .form__kyluat {
    padding: 0 12px;
  }
}

/* destop and laptop computer */
@media only screen and (min-width: 1224px) {
}

/* very large screen devices */
@media only screen and (min-width: 1824px) {
}
